body {
    background: #0f172a;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 8px;
    background: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

a {
    color: #38bdf8;
}

#error {
    color: #ef4444;
    font-size: 12px;
}